:root{
    --background-color: #efefef;
    --text-color: #333235;
    --borders-grey: #515151;
    --highlights-green:#b9ffe9;
    --highlights-putple: #8861fc;

}
*{
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
    font-family: 'Courier New', monospace;
}

header {
    height: 3rem;
    border-bottom: 1px solid var(--borders-grey);
    margin-bottom: 2rem;;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    border-top: 1px solid var(--borders-grey);
    width: 100vw;
}

section {
    border: 1px solid black;
}

ul {
    margin: 0 auto; 
    text-align: left; 
    display: block; 
    width: 100; 
    height: 30vw;
    background-color: var(--background-color);
}

li {
    list-style-type: none;
    margin: 1rem;
    display: flex;
    height: 1.5rem;
    justify-content: space-between;
    background-color: var(--background-color);
    
}

.show-hide {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
  }
  
  .flex-item {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    width: 100%; 
  }
  
  .flex-item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    overflow: scroll;
  }
  

  .flex-item ul li {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%; 
  }
  